# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Node
node_modules/

# macOS
.DS_Store
.AppleDouble
.LSOverride

# Virtual Environment
venv/
.env/
.venv/

# Environment Variables
.env

# Models & Data
models/
*.sqlite3
data/embeddings/*.npy
data/enrolled_faces/*.jpg
data/enrolled_faces/*.png
data/image_*.jpg

